
@{
    ViewBag.Title = "WhichStat";
}

<h2>Choose what kind of stat you want to look at</h2>

<div class="row">
    <div class="col-md-3">
        <input type="button" value="Offense Stats" onclick="location.href='@Url.Action("OffStats", "Coaches")'" class="btn btn-default" />
    </div>

    <div class="col-md-3">
        <input type="button" value="Defense Stats" onclick="location.href='@Url.Action("DefStats", "Coaches")'" class="btn btn-default" />
    </div>

    <div class="col-md-3">
        <input type="button" value="Pitch Stats" onclick="location.href='@Url.Action("PitchStats", "Coaches")'" class="btn btn-default" />
    </div>
    <div class="col-md-3">
        <input type="button" value="Pitch Stats" onclick="location.href='@Url.Action("Graph", "OffenseStats")'" class="btn btn-default" />
    </div>
</div>


<div class="row">
    <input type="button" value="Back to Home" class="btn-default" onclick="location.href='@Url.Action("Home", "Coaches")'" />
</div>