
@{
    ViewBag.Title = "DefStats";
}

<h2>Defensive Stats</h2>

<div class="btn-group" style="padding: 10px">
    <input type="button" value="Pitcher Stats" onclick="location.href='@Url.Action("Pitcher", "Coaches")'" class="btn btn-default" />

    <input type="button" value="Catcher Stats" onclick="location.href='@Url.Action("Catcher", "Coaches")'" class="btn btn-default" />



    <input type="button" value="First Base" onclick="location.href='@Url.Action("First", "Coaches")'" class="btn btn-default" />


    <input type="button" value="Second Base" onclick="location.href='@Url.Action("Second", "Coaches")'" class="btn btn-default" />


    <input type="button" value="Third Base" onclick="location.href='@Url.Action("Third", "Coaches")'" class="btn btn-default" />


    <input type="button" value="Short Stop" onclick="location.href='@Url.Action("Short", "Coaches")'" class="btn btn-default" />

    <input type="button" value="Left Field" onclick="location.href='@Url.Action("Left", "Coaches")'" class="btn btn-default" />
    <input type="button" value="Center Field" onclick="location.href='@Url.Action("Center", "Coaches")'" class="btn btn-default" />
    <input type="button" value="Right Field" onclick="location.href='@Url.Action("Right", "Coaches")'" class="btn btn-default" />
</div>

<div class="row">

<input type="button" value="Back to Home" class="btn-default" onclick="location.href='@Url.Action("Home", "Coaches")'"/>
</div>