@model IEnumerable<CAPSTONE.Models.PitchStats>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarnedRunAvereage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpponentBattingAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WHIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrikeOuts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrikeOutPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickOffPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WalksPerAtBat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WalksPerInning)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarnedRunAvereage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpponentBattingAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WHIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrikeOuts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrikeOutPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickOffPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalksPerAtBat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalksPerInning)
            </td>
            <td>
                @Html.ActionLink("Delete", "DefenseStats", new { id = item.Key })
            </td>
        </tr>
    }

</table>

<div class="row">
    <input type="button" value="Back to Home" class="btn-default" onclick="location.href='@Url.Action("Home", "Coaches")'" />
</div>

<meta name="viewport" content="width=device-width" />
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<title>Line Chart</title>
<div id="chartContainer"></div>


<script type="text/javascript">
       var result =  @Html.Raw(Json.Encode(Model));
        var dataPoints =[];
        for(var i = 0; i < result.length; i++){
            dataPoints.push({label:result[i].Player.FirstName, y:result[i].EarnedRunAvereage});
        }

        window.onload = function() {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Earned Run Average"
                },
                data: [
                {
                    type: "column",

                    dataPoints: dataPoints,
                }
                ]
            });
            chart.render();
        };
</script>