@model IEnumerable<CAPSTONE.Models.DefenseStats>

@{
    ViewBag.Title = "Right";
}

<h2>Right</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assists)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Errors)
        </th>>
        <th>
            @Html.DisplayNameFor(model => model.FPCT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Errors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPCT)
            </td>
        </tr>
    }

</table>