@model IEnumerable<CAPSTONE.Models.DefenseStats>

@{
    ViewBag.Title = "ShortStop";
}

<h2>ShortStop</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assists)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Errors)
        </th>>
        <th>
            @Html.DisplayNameFor(model => model.FPCT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Errors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPCT)
            </td>
        </tr>
    }

</table>

<div class="row">
    <input type="button" value="Back to Home" class="btn-default" onclick="location.href='@Url.Action("Home", "Coaches")'" />
</div>

<meta name="viewport" content="width=device-width" />
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<title>Line Chart</title>
<div id="chartContainer"></div>


<script type="text/javascript">
       var result =  @Html.Raw(Json.Encode(Model));
        var dataPoints =[];
        for(var i = 0; i < result.length; i++){
            dataPoints.push({label:result[i].Player.FirstName, y:result[i].FPCT});
        }

        window.onload = function() {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Feilding Percentage"
                },
                data: [
                {
                    type: "column",

                    dataPoints: dataPoints,
                }
                ]
            });
            chart.render();
        };
</script>