
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Team Manager</h1>

</div>

<div id="calendar"></div>

    <div class="btn-group" style="padding: 10px">
        <input type="submit" value="See Data" onclick="location.href='@Url.Action("WhichStat", "Players", new { id = Model.Id })'" class="btn btn-default" />
        <input type="button" value="Calendar" onclick="location.href='@Url.Action("PlayerCalendar", "Calendar", new { id = Model.Id })'" class="btn btn-default" />
        <input type="button" value="See Line Up" onclick="location.href='@Url.Action("LineUp", "Players", new { id = Model.Id })'" class="btn btn-default" />
        <input type="button" value="Find Locations" onclick="location.href='@Url.Action("Create", "Locations", new { id = Model.Id })'" class="btn btn-default" />
       <input type="button" value="ContactCoach" onclick="location.href='@Url.Action("Create", "ContactCoaches", new { id = Model.Id })'" class="btn btn-default" />
</div>

