@model IEnumerable<CAPSTONE.Models.LineUp>

@{
    ViewBag.Title = "Index";
}

<h2>Line Up</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
        </tr>
    }

</table>

<div class="row">
    <input type="button" value="Back to Home" class="btn-default" onclick="location.href='@Url.Action("Home", "Players")'" />
</div>


