@model CAPSTONE.Models.TotalPitching

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TotalPitching</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpponentOfficialAtBats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpponentOfficialAtBats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpponentHits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpponentHits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarnedRunsScored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarnedRunsScored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InningsPitched)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InningsPitched)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrikeOuts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrikeOuts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeRuns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeRuns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Walks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Walks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BattersHBP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattersHBP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickOffAttempts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickOffAttempts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickOffs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickOffs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
