@model CAPSTONE.Models.LineUp

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LineUp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeadOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadOffPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadOffPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondHitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondHitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoHitPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoHitPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThreeHitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThreeHitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThreePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThreePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourHitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourHitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fourposition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fourposition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiveHitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiveHitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FivePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FivePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SixHitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SixHitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SixPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SixPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SevenHitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SevenHitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SevenPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SevenPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EightHitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EightHitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EightPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EightPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NineHitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NineHitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NinePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NinePosition)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
