@model IEnumerable<CAPSTONE.Models.PitchStats>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarnedRunAvereage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpponentBattingAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WHIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrikeOuts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrikeOutPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickOffPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WalksPerAtBat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WalksPerInning)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarnedRunAvereage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpponentBattingAverage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WHIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrikeOuts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrikeOutPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickOffPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WalksPerAtBat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WalksPerInning)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Key }) |
            @Html.ActionLink("Details", "Details", new { id=item.Key }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Key })
        </td>
    </tr>
}

</table>
